@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Poppins:wght@400;500;600&family=Roboto:wght@500;700&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

:root {
    --ff-inter: 'Inter', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-workSans: 'Work Sans', sans-serif;
}

html,body {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-poppins);
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    background: #212529;
    height: 100vh;
}

.hiden{
    overflow-y: hidden;
}

.container {
    max-width: 1342px;
    width: 100%;
    margin: 0 auto;
}

.btn-up{
    position: fixed;
    z-index: 5;
    right: 20px;
    bottom: 100px;
    width: 50px;
    height: 60px;
    background: #fff url(../img/arrow-up.svg) no-repeat center;
    border-radius: 5px;
    box-shadow: 0 12px 5px rgba(0,0,0,0.4);
    display: none;
}