.customer {
    padding-bottom: 253px;
}

.customer-subtitle {
    margin: 0 auto;
}

.customer-title {
    text-align: center;
    margin-bottom: 90px;
}

.customer-wrapper {
    max-width: 1217px;
    width: 100%;
    margin: 0 auto;
}

.customer-block {
    background: #fff;
    width: 379px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 50px 50px 48px 33px;
}

.customer-star {
    display: block;
    background: url(../img/stars.svg) no-repeat left;
    height: 13px;
    margin-bottom: 21px;
}

.customer-text {
    font-size: 20px;
    line-height: 34px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 36px;
}

.customer-avatar {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 96px;
}

.customer-img {
    position: absolute;
    left: 0;
    width: 72px;
    height: 73px;
    top: 0;
}

.customer-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
}

.customer-job {
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #000000;
}


.customer-wrapper .slick-dots {
    position: absolute;
    left: 50%;
    bottom: -50px;
    display: flex;
    gap: 20px;
    transform: translateX(-50%);
}

.customer-wrapper .slick-dots li{
    font-size: 0;
    line-height: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.customer-wrapper .slick-dots li button{
    font-size: 0;
    line-height: 0;

}

.customer-wrapper .slick-dots li.slick-active{
    background: #fff;
}