@media(max-width:1350px) {
    .container {
        padding: 0 10px;
    }

    .skills-wrapper {
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }
}

@media(max-width:980px) {}

@media(max-width:768px) {
    .skills-program {
        justify-content: center;
    }

    .header-logo {
        width: 70px;
    }

    .iner-subtitle {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .iner-title {
        text-align: center;
        margin: 0 auto;
    }

    .iner-text {
        text-align: center;
    }

    .link-orange {
        margin: 0 auto;
    }
}


@media(max-width:590px) {
    .nav {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        background: #000;
        height: 100vh;
        overflow-x: hidden;
        /* transform: translateX(100%); */
        transition: .5s linear;
    }

    .nav.active {
        /* transform: translateX(0); */
        left: 0;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .burger {
        display: block;
        position: relative;
        z-index: 5;
        width: 60px;
        height: 40px;
        background: url(../img/burger.svg) no-repeat center;
        transition: .3s linear;
    }

    .burger.active {
        background: url(../img/close.svg) no-repeat center;
    }

    .hero {
        padding: 50px 0 50px 0;
    }

    .aboutme {
        padding: 100px 0 50px;
    }

    .skills {
        padding-top: 100px;
    }

    .gallery {
        padding: 70px 0;
    }
}

@media(max-width:450px) {
    .hero-title {
        font-size: 38px;
        line-height: 58px;
    }

    .hero-block {
        background-position: left 15px center, right 15px center;
    }

    .footer-wrapper {
        flex-direction: column;
    }
}

@media(max-width:390px) {
    .hero-deskript {
        font-size: 13px;
        line-height: 20px;
    }

    .customer-block {
        width: 95%;
        padding: 50px 30px 48px 30px;
    }
}